/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

body::after {
  content: "";  
  background-image: url("/luis-reyes-mTorQ9gFfOg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.08;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: wavy;
}

.cta-btn {
  margin-top: 5rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #34def5;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #555;
  color: white;
}

.break-line {
  border: none;
  height: 1px;
  background-color: #34def5;
  margin: 20px 0;
  margin-top: 100px;
}

/* navigation bar styles */
.topnav {
  position: relative;
  transition: position 0.5s ease-in-out;
  background-color: #34def5;
  height: 80px;
}

.topnav a {
  float: right;
  font-size: 20px;
  padding: 25px;
  margin-right: 15px;
  text-align: center;
}

.topnav a {
  position: relative;
  color: black;
  font-weight: 700;
}

.topnav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 15px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.topnav a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Hero section styles */
.hero {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  max-width: 800px;
}

/* About section styles */
#about {  
  padding: 5rem 2rem;
  text-align: left;
  color: #f5f5f5;
}

#about h2 {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 3rem;
  color: white;
  text-align: center;
}

#about p {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.8;
}

/* Routines section styles */
#routine {
  background-color: black;
  color: white;
  padding: 4rem 0;
}

#routine h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

#routine p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 4rem;
}

#routine .container h3 {
  text-align: center;
  font-size: 1.5rem;
}

#routine .container p {
  font-size: 1.2rem;
}

.routine-cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.routine-card {
  background-color: #f5f5f5;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  max-width: 350px;
}

.routine-card:hover {
  transform: translateY(-25px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.routine-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.routine-card img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.routine-card p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.routine-card .btn {
  display: inline-block;
  background-color: #222;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.routine-card .btn:hover {
  background-color: #34def5;
  color: black;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .routine-card {
    max-width: 100%;
    margin: 1rem;
  }
}

#programs {
  color: #f5f5f5;
  background-color: black;
}

#programs h2 {
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

#programs p {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 4rem;
  line-height: 1.8;
  font-size: 1.2rem;
  text-align: center;
}

#programs .container h3 {
  text-align: center;
  font-size: 1.5rem;
}

#routine .container p {
  font-size: 1.2rem;
}

.program-cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.program-card {
  background-color: #f5f5f5;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  max-width: 350px;
}

.program-card:hover {
  transform: translateY(-25px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.program-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.program-card img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.program-card p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.program-card .btn {
  display: inline-block;
  background-color: #222;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.program-card .btn:hover {
  background-color: #34def5;
  color: black;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .program-card {
    max-width: 100%;
    margin: 1rem;
  }
}

footer {
  margin-top: 100px;
  position: absolute;
  background-color: #34def5;
  color: black;
  padding-left: 10px;
  text-align: center;
  min-height: 80px;
  width: 100%;
}

footer p {
  position: relative;
  font-size: 1rem;
  margin-top: 30px;
}

/* Testimonials section styles */
#testimonials h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

#testimonials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

#testimonials li {
  margin: 1rem;
  text-align: left;
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

#testimonials li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#testimonials li h3 {
  font-size: 1.5rem;
  margin: 1rem;
  margin-bottom: 0;
}
#contact {
  color: white;
}
